<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="../css/bootstrap.css">
</head>
<body>
<!--<script src="../js/first.js"></script>-->
<!--<script src="/js/first.js"></script>-->
<!--<script src="../js/second.js"></script>-->
<!--<script src="/js/second.js"></script>-->
<style>
    .card,.form-control{
        border-color: #198754; /* Rangni o'zgartiring */
    }
</style>
<script>
    function check() {
        var newP = document.getElementById('formGroupExampleInput4')
        var co = document.getElementById('formGroupExampleInput5')
        if (newP.value !== co.value) {
            alert('Yangi parolni noto`g`ri kiritdingiz!')
            return false;
        }
        var con=confirm('Malumotlaringiz to`g`ri ekanligini tasdiqlaysizmi?')
        if (!con) {
            return false
        }
        return true
    }
</script>
<form onsubmit="return check()" action="/auth/change-password" method="post" enctype="application/x-www-form-urlencoded">
    <div class="position-absolute top-50 start-50 translate-middle">
        <div class="card">
            <div class="card-body">
                <h1 style="color: #198754">Parolni o'zgartirish</h1>
                <label>
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}" required>
                    <input type="hidden" id="formGroupExampleInput2" name="u_id" th:value="${id}" required>
                    <input type="text" id="formGroupExampleInput3" name="o_p" class="form-control" placeholder="Eski parolni kiriting" required>
                    <br>
                    <input type="text" class="form-control" id="formGroupExampleInput4" name="n_p" placeholder="Yangi parolni kiriting" required>
                    <br>
                    <input type="text" class="form-control" id="formGroupExampleInput5" name="c_p" placeholder="Yangi parolni tasdiqlang" required>
                    <br>
                    <input type="submit" class="btn btn-success" value="Saqlash" required>
                </label>
            </div>
        </div>
    </div>
</form>
</body>
</html>