<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="../css/bootstrap.css">
</head>
<body>
<!--<script src="../js/first.js"></script>-->
<!--<script src="/js/first.js"></script>-->
<!--<script src="../js/second.js"></script>-->
<!--<script src="/js/second.js"></script>-->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Bizning sayt</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active"  aria-current="page" href="/">Bosh sahifa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"  href="/selling/save1">Savdo yaratish</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"  href="/selling/get-list">Savdolarni ko'rish</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"  href="/product/save">Mahsulot yaratish</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"  href="/product/list">Mahsulotlarni ko'rish</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/daily/report">Kunlik hisobotlarni ko'rish</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/monthly/report">Oylik hisobotlarni ko'rish</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/logout">Hisobdan chiqish</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/manager/employees">Ishchilar ro'yxati</a>
                </li>
            </ul>
            <form class="d-flex" action="/product/list-by-name" role="search">
                <input class="form-control me-2" type="search" name="name" required placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Qidirish</button>
            </form>
        </div>
    </div>
</nav>
<br>
<style>
    .card,.form-control{
        border-color: #198754; /* Rangni o'zgartiring */
    }
</style>
<script>
    function check() {
        return confirm('Malumotlaringiz to`g`ri ekanligini tasdiqlaysizmi?')
    }
</script>

    <div class="position-absolute top-50 start-50 translate-middle">
        <div class="card">
            <div class="card-body">
                <h1 style="color: #198754">Akkaunt</h1>
                <h1 style="color: #198754">ma'lumotlari</h1>
                <form onsubmit="return check()" action="/auth/update" method="post" enctype="application/x-www-form-urlencoded">
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}" required>
                    <input type="text" id="formGroupExampleInput1" class="form-control" name="firstName" th:value="${emp.firstName}" placeholder="Ismingizni kiriting" required>
                    <br>
                    <input type="text" class="form-control" id="formGroupExampleInput2" name="lastName" th:value="${emp.lastName}" placeholder="Familyangizni kiriting" required>
                    <br>
                    <input type="text" id="formGroupExampleInput3" class="form-control" name="username" th:value="${emp.username}" placeholder="Loginingizni kiriting" required>
                    <br>
                    <input type="hidden" id="formGroupExampleInput4" th:value="${emp.id}" name="id" required>
                    <br>
                    <input type="submit" class="btn btn-success" value="Saqlash" required>
                    <a class="btn btn-danger" th:href="@{'/auth/profile?id='+${emp.id}}">Bekor qilish</a>
                    <br>
                    <a href="/auth/change-password">Parolni o'zgartirish</a>
                </form>
            </div>
        </div>
    </div>

</body>
</html>