<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product About</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
<!--    <link rel="stylesheet" href="../css/bootstrap.css">-->
</head>
<body>
<script src="/js/first.js"></script>
<!--<script src="../js/first.js"></script>-->
<script src="/js/second.js"></script>
<!--<script src="../js/second.js"></script>-->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/auth/profile">Akkaunt</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active"  aria-current="page" href="/">Bosh sahifa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"  href="/selling/save1">Savdo yaratish</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"  href="/selling/get-list">Savdolarni ko'rish</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"  href="/product/save">Mahsulot yaratish</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"  href="/product/list">Mahsulotlarni ko'rish</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/daily/report">Kunlik hisobotlarni ko'rish</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/manager/get-total/sells-daily">Kunlik kassani ko'rish</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/monthly/report">Oylik hisobotlarni ko'rish</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/manager/get-total/sells-monthly">Oylik kassani ko'rish</a>
                </li>
            </ul>
            <form class="d-flex" action="/product/list-by-name" role="search">
                <input class="form-control me-2" type="search" name="name" required placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Qidirish</button>
            </form>
        </div>
    </div>
</nav>
<br>
<style>
    .card,.form-control{
        border-color: #198754; /* Rangni o'zgartiring */
    }
    #danger{
        border-color: #bb2d3b;
    }
    ul{
        list-style-type: none;
    }
</style>
<script>
    function check() {
        var price=document.getElementById('formGroupExampleInput2').value
        var count=document.getElementById('formGroupExampleInput3').value

        if (price < 0) {
            alert('Narx 0 dan kichik bo`lishi mumkin emas !')
            return false
        }
        if(count<0){
            alert('Miqdor 0 dan kichik bo`lishi mumkin emas !')
            return false
        }
        return confirm('Malumotlaringiz to`g`ri ekanligini tasdiqlaysizmi?')
    }
</script>
<div class="d-flex flex-row">
    <div class="card">
        <div class="card-body">
            <form action="/product/update" method="post" enctype="application/x-www-form-urlencoded">
            <h1 style="color: #198754">Mahsulot haqida</h1>
            <label>
                <input type="hidden" name="_csrf" th:value="${_csrf.token}" required>
                <input type="text" id="formGroupExampleInput1" class="form-control" name="name" th:value="${prod.name}" placeholder="Nomini kiriting" required>
                <br>
                <input type="hidden" name="id" th:value="${prod.id}" required>
                <input type="number" class="form-control" id="formGroupExampleInput2" name="price" th:value="${prod.price}"  placeholder="Narxini kiriting" required>
                <br>
                <input type="hidden" name="image" th:value="${prod.image}">
                <input type="number" id="formGroupExampleInput3" class="form-control" name="count" th:value="${prod.count}" placeholder="Miqdorini kiriting" required>
                <br>
                <a class="btn btn-success" th:href="@{'/image/update/'+${prod.id}}">Mahsulot rasmini o'zgartirish</a>
                <br>
                <label>Mahsulot haqida</label>
                <input type="text" id="formGroupExampleInput5" th:value="${prod.about}" name="about" class="form-control" placeholder="Mahsulot haqida">
                <br>
                <input type="submit" class="btn btn-success" value="Yangilash" required>
                <a onclick="return confirm('Rostan ham bekor qilmoqchimisiz?')" class="btn btn-danger" th:href="@{'/product/about?id='+${prod.id}}">Bekor qilish</a>
            </label>
            </form>
        </div>
    </div>
<form onsubmit="return check()" action="/product/update" method="post" enctype="application/x-www-form-urlencoded">
</form>
<div class="card">
    <div class="card-body">
        <img height="500px" th:src="@{'/image/get/'+${prod.image}}"  th:alt="${prod.name}">
    </div>
</div>
</div>
</body>
</html>