<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Get</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
</head>
<body>
<script src="/js/first.js"></script>
<script src="../js/first.js"></script>
<script src="/js/second.js"></script>
<script src="../js/second.js"></script>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/auth/profile">Akkaunt</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active"  aria-current="page" href="/">Bosh sahifa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"  href="/selling/save1">Savdo yaratish</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"  href="/selling/get-list">Savdolarni ko'rish</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"  href="/product/save">Mahsulot yaratish</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"  href="/product/list">Mahsulotlarni ko'rish</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/daily/report">Kunlik hisobotlarni ko'rish</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/monthly/report">Oylik hisobotlarni ko'rish</a>
                </li>
            </ul>
            <form class="d-flex" action="/product/list-by-name" role="search">
                <input class="form-control me-2" type="search" name="name" required placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Qidirish</button>
            </form>
        </div>
    </div>
</nav>
<br>
<div class="card">
    <div class="card-body">
        <form action="/product/list" method="get" enctype="application/x-www-form-urlencoded">
            <select class="form-control w-auto" name="page">
                <option th:each="p : ${pages}" th:default="${prods.number}" th:text="${p}" th:value="${p}"></option>
            </select>
            <h3 th:text="'Joriy sahifa ' + ${prods.number}"></h3>
            <input class="btn btn-success" type="submit" value="Olib kelish" required>
        </form>
        <table class="table table-light">
            <thead>
            <tr>
                <th>Rasmi</th>
                <th>Mahsulot nomi</th>
                <th>Miqdori</th>
                <th>Narxi</th>
                <th>Ranglari</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="p:${prods}">
                <td><a target="_blank" th:href="@{'/product/get/'+${p.id}}"><img style="height: 100px" th:src="@{'/image/get/'+${p.image}}"  th:alt="${p.image}"></a></td>
                <td th:text="${p.name}"></td>
                <td th:text="${p.count}"></td>
                <td th:text="${p.price}"></td>
                <td th:text="${p.colors}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>