<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ishchilar</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
<!--    <link rel="stylesheet" href="../css/bootstrap.css">-->
</head>
<body>
<script src="/js/first.js"></script>
<!--<script src="../js/first.js"></script>-->
<script src="/js/second.js"></script>
<!--<script src="../js/second.js"></script>-->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Bosh sahifa</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active"  aria-current="page" href="/auth/profile">Akkaunt</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"  href="/selling/save1">Savdo yaratish</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"  href="/selling/get-list">Savdolarni ko'rish</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"  href="/product/save">Mahsulot yaratish</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"  href="/product/list">Mahsulotlarni ko'rish</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/daily/report">Kunlik hisobotlarni ko'rish</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/manager/get-total/sells-daily">Kunlik kassani ko'rish</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/monthly/report">Oylik hisobotlarni ko'rish</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/manager/get-total/sells-monthly">Oylik kassani ko'rish</a>
                </li>
            </ul>
            <form class="d-flex" action="/manager/search" role="search">
                <input class="form-control me-2" type="search" name="name" required placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Qidirish</button>
            </form>
        </div>
    </div>
</nav>
<br>
<style>
    th,td{
        text-align: center;
    }
</style>
<div class="card">
    <div class="card-body">
        <div class="card position-relative">
        <div class="card">
            <div class="card-body">
                <form action="/manager/get-total/sells-daily" method="get" enctype="application/x-www-form-urlencoded">
                    <input type="date" class="form-control w-auto" name="date" th:value="${dateC}" required>
                    <br>
                    <input class="btn btn-success" type="submit" value="Olib kelish" required>
                    <br>
                    <h3 th:text="${date.year}+'-yil '+${date.dayOfMonth}+'-'+${date.month.name()}"></h3>
                </form>
            </div>
        </div>
        </div>
        <table class="table table-light">
            <thead>
            <tr>
                <th><h3>Ism</h3></th>
                <th><h3>Familya</h3></th>
                <th><h3>Summasi</h3></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="r:${dailyReport}">
                <td><h3><a th:href="@{'/manager/get/'+${r.employee.id}}" th:text="${r.employee.firstName}"></a></h3></td>
                <td><h3><a th:href="@{'/manager/get/'+${r.employee.id}}" th:text="${r.employee.lastName}"></a></h3></td>
                <td><h3><a th:href="@{'/selling/get-date/'+${dateC}}" th:text="${r.summa}"></a></h3></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th><h3 th:text="${totalSumma}"></h3></th>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>