<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
<head>
    <meta charset="UTF-8">
    <title>Selling Get</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
<!--    <link rel="stylesheet" href="../css/bootstrap.css">-->
</head>
<body>
<!--<script src="../js/first.js"></script>-->
<script src="/js/first.js"></script>
<!--<script src="../js/second.js"></script>-->
<script src="/js/second.js"></script>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Bosh sahifa</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/auth/profile">Akkaunt</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyRole('EMPLOYEE')">
                    <a class="nav-link active" href="/selling/save1">Savdo yaratish</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/selling/get-list">Savdolarni ko'rish</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyRole('SUPER_MANAGER','MANAGER')">
                    <a class="nav-link active" href="/product/save">Mahsulot yaratish</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/product/list">Mahsulotlarni ko'rish</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyRole('SUPER_MANAGER','MANAGER')">
                    <a class="nav-link active" href="/daily/report">Kunlik hisobotlarni ko'rish</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/manager/get-total/sells-daily">Kunlik kassani ko'rish</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyRole('SUPER_MANAGER','MANAGER')">
                    <a class="nav-link active" href="/monthly/report">Oylik hisobotlarni ko'rish</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/manager/get-total/sells-monthly">Oylik kassani ko'rish</a>
                </li>
            </ul>
            <form class="d-flex" action="/product/list-by-name" role="search">
                <input class="form-control me-2" type="search" name="name" required placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Qidirish</button>
            </form>
        </div>
    </div>
</nav>
<br>
<style>
    th,td{
        text-align: center;
    }
</style>
<div class="card">
    <div class="card-body">
        <div class="card position-relative">
        <div class="card-body">
        <form action="/selling/list-by-date" method="get" enctype="application/x-www-form-urlencoded">
            <h3 th:text="'Joriy sahifa ' + ${sells.number}"></h3>
            <select class="form-control w-auto" name="page">
                <option th:each="p : ${pages}" th:default="${sells.number}" th:text="${p}" th:value="${p}"></option>
            </select>
            <br>
            <label>Kun bo'yicha qidirish</label>
            <input type="date" class="form-control w-auto" name="date" th:value="${now}" required>
            <br>
            <input class="btn btn-success" type="submit" value="Olib kelish" required>
        </form>
            <h1 th:text="${date}+' kungi savdolar'"></h1>
        </div>
        </div>
        <div>
        </div>
        <table class="table table-light">
            <thead>
             <tr>
                 <th><h3>Mahsulot nomi</h3></th>
                 <th><h3>Mahsulot rasmi</h3></th>
                 <th><h3>Miqdori</h3></th>
                 <th><h3>Umumiy savdo</h3></th>
                 <th><h3>Vaqti</h3></th>
                 <th><h3>Sotuvchi</h3></th>
             </tr>
            </thead>
            <tbody>
            <tr th:each="s:${sells}">
                <td><h3><a th:href="@{'/product/get/'+${s.product.id}}" th:text="${s.product.name}"></a></h3></td>
                <td><h3><a th:href="@{'/product/get/'+${s.product.id}}"><img style="height: 100px" th:src="@{'/image/get/'+${s.product.image}}" th:alt="${s.product.name}"></a></h3></td>
                <td><h3 th:text="${s.count}"></h3></td>
                <td><h3 th:text="${s.soldPrice2}"></h3></td>
                <td><h3 th:text="${s.dateTime.hour}+' : '+${s.dateTime.minute}"></h3></td>
                <td><h3 th:text="${s.firstNameOfEmployee}+' '+${s.lastNameOfEmployee}"></h3></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>