<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forbidden</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
<script src="/js/first.js"></script>
<script src="/js/second.js"></script>

<div style="text-align: center">
   <img src="/error_pages/bad_request.png" style="width: 1000px" alt="Forbidden">
    <br>
    <h6 th:text="${value}"></h6>
    <br>
   <button><a href="/">Home page></a></button>
</div>
</body>
</html>